/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12/05/2025, 6:49:59 p. m.
    Author     : ansap
*/
body{
    background: #a9a7a8;
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 100%, 0.3), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/ESLOGAN CONI.png");
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/ESLOGAN CONI.png");
    background-size: 100% 100%;
    background-position: center;
    background-attachment:fixed;
    position: relative;
    background-repeat: no-repeat;
    align-content: center;
}

.encabezado{
   display: flex;
   align-items: center;
   gap: 20px;
   padding: 20px;
}

.imagen-encabezado{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;  
}

.barra-superior{
    flex: 1;
    background-color: rgb(230, 45, 45);
    color: aliceblue;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    height: 15px;
}

.barra-superior nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.barra-superior nav a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.barra-superior nav a:hover{
    text-decoration: underline;
}

h1{
    font-size: 80px;
    font-style: italic;
    font-weight: bold;
    width: 60%;
}

h1{
    color: rgb(7, 7, 60);
    padding-top: 50px;
    padding-left: 70px;
}

@media screen and (max-width:500px){
    body{
        display: flex;
        background-size: auto;
        justify-content: center;
        flex-direction: column;
    }
    

}
