/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12/05/2025, 7:44:30 p. m.
    Author     : ansap
*/
body{
    background: #a9a7a8;
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 100%, 0.3), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/ESLOGAN CONI.png");
    background: linear-gradient(to right, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/ESLOGAN CONI.png");
    background-size: 100% 100%;
    background-position: center;
    background-attachment:fixed;
    position: relative;
    background-repeat: no-repeat;
    align-content: center;
}

.encabezado{
   display: flex;
   align-items: center;
   gap: 20px;
   padding: 10px;
}

.imagen-encabezado{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;  
}

.barra-superior{
    flex: 1;
    background-color: rgb(230, 45, 45);
    color: aliceblue;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    height: 15px;
}

.barra-superior nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.barra-superior nav a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.barra-superior nav a:hover{
    text-decoration: underline;
}

h2{
    padding-top: 0;
    text-align: center;
    margin-top: 0;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    width: 100%;
}

.contenido{
    margin: auto;
    width: 95%;
    padding-top: 50px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenido{
    display: flex;
    gap: 40px;
    text-align: center;
}

.contenido > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido button{
    background-color: rgba(240, 248, 255, 0.311);
    cursor: pointer;
    font-style: italic;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 black;
    width: 200px;
    height: 30px;
}

.contenido button:hover{
    background-color:rgb(230, 45, 45);
    cursor: pointer;
    text-decoration: underline;
    color: aliceblue;
}

.contenido button a{
    font-size: 21px;
    color: aliceblue;
    text-decoration: none;
}

.contenido img{
    border-radius: 35%;
    height: 150px;
    width: 150px;
    margin-bottom: 20px; 
}
